@charset "UTF-8";


.plus {width: 65px; height: 40px; border: none; cursor: pointer; background-color: white;}

/* slider */
#slider {width: 1320px; height: 590px; margin:0 auto;  display: flex; flex-wrap: wrap; justify-content: space-between; align-content: space-around;}
.swiper {width: 100%; height: 100%;}
.swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* align-items: center;/ */
      height: 100%;
    }
    .swiper-button-prev {color: grey;}
    .swiper-button-next {color: grey;}

.slider .swiper-button-prev, .slider .swiper-button-next {top: auto; bottom: 10px;width:20px; height: 20px; }
.slider .swiper-button-prev {left: auto; right: 100px;}
.slider .swiper-button-next {right: 40px; z-index:11; }
.slider .swiper-button-prev::after, .slider .swiper-button-next::after {font-size: 10px;}
.slider .swiper-pagination {padding: 2px; left: 410px; right: auto; font-size: 14px;}

.swiper-slide img {
      display: block;
      width: 95%;
      /* height: 100%;/ */
      object-fit: cover;
        }

.slider_i {width: 980px; height: 420px;}
.slider img {border-radius: 10px;}

/* funding */
.s_funding {width: 300px; height: 420px; border-radius: 10px; border: 1px solid #dddddd; display:flex;}
.s_funding img {width: 100%; height: auto;}
.s_funding div {background-color: #fff;}
.s_funding div p {padding-top: 12px; font-size:15px; color:#aaa;}
.s_funding .swiper-slide {align-items:flex-start;}
.s_funding .swiper-button-prev, .s_funding .swiper-button-next {top: auto; bottom: 10px; width:20px; height: 20px; }
.s_funding .swiper-button-prev {left: 100px;}
.s_funding .swiper-button-next {right: 100px; z-index:11;}
.s_funding .swiper-button-prev::after, .s_funding .swiper-button-next::after {font-size: 10px;}
.s_funding .swiper-pagination {padding: 2px; font-size: 14px;}

.img_nav {width: 980px; height:110px; display: flex; justify-content: space-between; text-align: center; padding: 10px;}
.mission_nav {width: 300px; height: 110px; display: flex; justify-content:center; align-items: center;}
.mission_nav img {width: 100%; border-radius: 15px;}

/* content1 */
.content1 {width: 1320px; height: 720px; display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-around; margin: 0 auto; }

.today_nav {width: 1245px; height: 40px; display: flex; margin: 5px; padding-left: 10px;}

.content1 ul {display: flex; margin: 5px 0 0 32px;}
.content1 ul .line {padding-top: 12px; text-align: center; font-size: 10px;}
.content1 ul li {padding: 10px 5px 0; font-size: 13px; cursor: pointer; color: gray;}

.today_book {width: 1320px; height: 290px; display: flex; justify-content: space-evenly; align-content: center;}

.today {width: 1320px; height: 290px; display: flex; }
.today_main_box {width: 600px; height: 290px; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-evenly; align-content: center; align-items: flex-start;}
.today_main_box h4 {margin-left: 15px; font-size: 16px;} 
.today_main_box span {margin-left: 6px; padding-right: 15px; font-size: 14px;}
.today_main_box img {width: 190px; height: 280px;}

.today .swiper { margin-left: auto; margin-right: auto;}
.today .swiper-button-prev::after {font-size: 20px}
.today .swiper-button-next::after {font-size: 20px}


.today_3b {width: 495px; height: 210px; align-self: center; }
.today_3b .swiper {margin-left: auto; margin-right: auto;}
.today_sub_box {width: 160px; height: 210px; display: flex; justify-content: space-evenly; align-items: center;}

.today_ad {width: 1320px; height: 200px; display: flex; justify-content: space-evenly; align-items: center;}
.today_ad img {width: 48%; height: 100%; object-fit: fill; border-radius: 10px;}



/* content2 */
.content2 {width: 1320px; height: 1000px; display: flex; flex-wrap: wrap; align-content:space-around; margin: 0 auto; }

.author_button {width: 1320px; height: 50px; display: flex; align-items: center; justify-content: space-between;}

.author_m {width: 1320px; height: 450px; display: flex; flex-wrap: wrap; align-items: flex-end;}
.author {height: 350px;}
.author_b {width: 100%; height: 300px; display: flex; flex-wrap: wrap; justify-content: center;}

.pub_m {width: 1320px; height: 540px; display: flex; flex-wrap: wrap; align-content: space-around;}
.pub {height: 450px;}

.pub_b {width: 100%; height: 300px; display: flex; flex-wrap: wrap; }


/* content3 */
.content3 {width: 1320px; height:500px; display: flex; flex-wrap: wrap; margin: 0 auto;}
.content3 ul {display: flex; margin-left: 25px;}
.content3 ul li {padding: 10px 20px 0;}

.md_nav {width: 1245px; height: 40px; display: flex;}

.md_pick {width: 1320px; margin-top: -50px; }

.MD {height: 360px;}

.md_b {width: 100%; height: 300px; display: flex; flex-wrap: wrap; justify-content: center;}

/* content8 */
.content8 {width: 1320px; height: 860px; display: flex; flex-wrap: wrap; margin: 0 auto;}

.content8_top {width: 1320px; height: 330px; display: flex; flex-wrap: wrap;}
.casting {width: 1245px; height: 40px;}

.cast {width: 1320px; height: 320px;}

.cas_box {width: 245px; height: 310px; display: flex; flex-wrap: wrap; justify-content: center; align-content: flex-start; align-items: flex-start; padding-top: 20px;}
.cas_box p {margin-top: 12px; font-size: 15px;}

.content8_bottom {width: 1320px; height: 330px; display: flex; flex-wrap: wrap;}
.event {width: 1245px; height: 40px; display: flex;}
.event_nav {display: flex; align-items: center; margin-left: 10px;}
.event_nav ul {display: flex; padding: 5px;}
.event_nav ul li {padding: 6px 3px 0; font-size: 13px; cursor: pointer; color: gray;}
.event_nav ul .line {padding-top: 7px; text-align: center; font-size: 10px;}

.event_box {width: 1320px; height: 190px; display: flex; justify-content: space-between;}
.event_box img {border-radius: 10px;}